#footer {
    display: none;
}

:root {
  --primary: 56 109 240;           /* #386DF0 */
  --primary-light: 255 254 249;    /* #FFFEF9 */
  --primary-dark: 41 39 36;        /* #292724 */
  --background-light: 255 254 249; /* #FFFEF9 (matches your lightest) */
  --background-dark: 41 39 36;     /* #292724 (main text/dark) */
}











